/* EMPEZAMOS A PONER TIPOGRAFIA AL TITULO */
body {
  font-size: larger;
  text-align:justify;

}
h2 {
  margin-top: 30px;
  text-align: center;
  font-family: monospace;
  font-size: 50px;
  text-shadow: 0 0 5px rgb(22, 219, 219),
    0 0 25px  rgb(22, 219, 219),
    0 0 50px  rgb(22, 219, 219),
    0 0 100px  rgb(22, 219, 219);
  color: rgb(243, 255, 251);
}
h4{
  margin-top: 80px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 30px;
}
.text-pasos{
  margin-left: 150px;
  margin-top: 50px;
  width: 1000px;
  justify-content: center;
  font-size: 20px;
}
.text-pasos p{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* LOGO DEL INSTITUTO */
.derecha{
  float: left;
  width: 150px;
  height: 150px;
}
/* AQUI EMPIEZA EL CODIGO PARA LA ANIMACION DE COLORES PARA LOS PASOS */
section {
  border: 2px solid transparent;
  width: 100%;
  /* hay que poner height: auto; para que automaticamente este se expanda conforme a la pantalla */
  height: auto;
  color: #110101;
  background: linear-gradient(
    50deg,
    rgb(130, 57, 255),
    rgb(91, 207, 201),
    rgb(8, 133, 85),
    rgb(235, 59, 97)
  );
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 10s ease-in-out infinite;
}
@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/* TERMINA LA ANIMACION */
.container {
  margin-top:10px;
  margin-left: 400px;
  justify-content: center;
  overflow:visible;
  width: 500px;
  position: relative;
}
.container img{
  
  width: 500px;
  transition: 0.5s;
  object-fit: cover;
  
}
.container img:hover{
  transform: scale(1.2);
}
.container p{
  position: absolute;
  /* movimiento de la palabra arriba y abajo */
 top:55%; 
 left:30%;
 font-family: 'Times New Roman', Times, serif;
 font-size: 25px;
}
.contenedor1{
  width: 400px;
  height: 10px;
  padding: 5px;
  margin: 100px auto;
  position: relative;
}
.contenedor1 img{
  width: 200px;
  margin-left: 89px;
}
.contenedor1 p{
  position: absolute;
  /* movimiento de la palabra arriba y abajo */
 top:300%; 
 left:41%;
 font-family: 'Times New Roman', Times, serif;
 font-size: 30px;
}
.contenedor2{
  width: 1000px;
  margin-left: 150px;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-align:justify;
  margin-bottom: 200px;
}
.contenedor2 p{
  margin-top: 10px;
  text-align: center;
  width: 250px;
  border: 2px ridge rgb(14, 82, 65);
  margin-left: 400px;
  border-radius: 20%;
  background-color: rgb(73, 173, 156);
  transition: 0.5s;
  object-fit: cover;
}
.contenedor2 p:hover{
  transform: scale(1.2);
}

