body{
    background-image: url('../img/back02.png');
    background-color: rgb(8, 70, 67);
    background-position: 0px 180px ; 
    background-repeat:no-repeat;
    background-size:cover;
    display: grid;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    /* border: 2px solid red; */
}
.container h1{
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
    text-align:center;
    font-size: 38px;
    text-shadow: 0 0 5px rgb(22, 219, 219),
      0 0 25px  rgb(22, 219, 219),
      0 0 50px  rgb(22, 219, 219),
      0 0 100px  rgb(22, 219, 219);
}
.container p{
    margin-top: 50px;
    text-align: center;
    margin-left: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: rgb(39, 175, 130);
    filter: drop-shadow(4px 6px 12px rgb(1, 39, 39) );
}
.container span{
    margin-top: 30px;
    color: aquamarine;
    font-family: monospace;
    font-size: 15px;
    text-align: center;
}
.container-prob{
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid blue; */
}
.container-prob input{
    background-color: rgb(9, 65, 55);
    height: 50px;
    margin-left: 10px;
    color: aquamarine;
}
.container-prob button{
    font-size: 10px;
    height: 50px;
    background-color: rgb(9, 65, 55);
    font-family:monospace;
    border-radius: 10%;
    border: 1px solid rgb(15, 13, 2);
    color: rgb(152, 252, 227);
    font-size: 30px;
}
.container-prob img{
    width: 70px;
    margin-top: 5px;
}
.container-prob .img01 img{
    display: flex;
    width: 50px;
    margin-top: 5px;
}
.container-prob .img02 img{
    display: flex;
    width: 50px;
    margin-top: 5px;
}
.buttons button{
    margin-left: 400px;
    height: 30px;
    background-color:  rgb(27, 136, 100);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 9px;
    border-radius: 10%;
    border: 1px solid rgb(15, 13, 2);
    color: rgb(152, 252, 227);
    font-size: 20px;
}
.buttons button a{
    color: aquamarine;
    font-size: 20px;
}